# Environment variables
.env

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# IDE
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

*.csv

*.txt